<app-header titulo="Aviones"></app-header>

<ion-content class="ion-padding">
  @for (avion of aviones; track avion.name){
    <ion-card>
      <ion-item-sliding>
        <ion-item lines="none" class="ion-padding-vertical">
          <ion-card-header class="ion-no-padding">
            <ion-card-title>{{avion.name}}</ion-card-title>
            <ion-card-subtitle> <ion-badge color="tertiary" style="font-weight: normal; text-transform: none;">
              {{avion.model}}
            </ion-badge>
              </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Motor: {{avion.motor}}</p>
            <p>Motor: {{avion.year}}</p>
          </ion-card-content>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success">
            Precio:{{avion.price}}
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  }

</ion-content>
